<h1>About me</h1>

<%= image_tag("profile.jpg", :size=>"500x500", :alt => "profiles" ) %>
<br/>
My name is Rodger Stallworth and I am a recent graduate of Georgia Southern University. 

  <div class="hero-unit">
  <h1>Heading</h1>
  <p>Tagline</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>
