<h1>Staticpage#about</h1>
<p>this info is static yo</p>


<div class="slideshow"> 
		   <ul> 
			  <li><img src="lemons/1.jpg" alt="lemon" /></li>
			  <li><img src="lemons/2.jpg" alt="lemon tea" /></li>
			  <li><img src="lemons/3.jpg" alt="splashing lemon" /></li>
			  <li><img src="lemons/4.jpg" alt="salad with lemon" /></li>
			  <li><img src="lemons/5.jpg" alt="lemonade!" /></li>
			  <li><img src="lemons/6.jpg" alt="sliced lemon" /></li>
			  <li><img src="lemons/7.jpg" alt="dripping lemon" /></li>
		   </ul> 
		</div> 
